body {
  background-color: #363636;
}
a {
  text-decoration: none;
  color: white;
}
.head1 {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  z-index: 20;
}
h1 {
  color: white;
}
#size40 {
  font-size: 40px;
}
strong {
  color: white;
  font-size: 20px;
}
#registerbutton {
  background-color: orange;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
#loginbutton {
  background-color: orange;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
p {
  color: white;
}
.articleleft {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 50%;
  margin: 20px;
  background-color: #252525;
  padding: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}
.asideright {
  background-color: #252525;
  padding: 20px;
  position: absolute;
  top: 30%;
  width: 35%;
  left: 60%;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}
footer {
  background-color: #252525;
  padding: 20px;
  margin: 20px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
}